<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #app{
            width: 500px;
            margin: 50px auto;
        }
        #app>div{
            width: 300px;
            height: 300px;
            background: #cccccc;
            text-align: center;
            line-height: 300px;
        }
        button{
            width: 100px;
            height: 30px;
        }
        .active{
            background: red;
        }
        
    </style>
</head>
<body>
    <div id="app">
                <button v-for='(item,index) in list' @click='id=index' :class="{active:id==index}">{{item}}</button>    
                <div v-for='(item,index) in list' v-show='id===index'>{{item}}</div>   
    </div>
    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            
            data:{
              list:[1,2,3],
              id:0 
              
            }
        })
    </script>
</body>
</html>